
<div class="container-wrapper">
  <div class="container-profile">
    <section class="profile-main_top" >
        <figure>
          <img ng-src="{{ $ctrl.userdata.profile_view.img }}" alt="Harvey Specter" width="70px" height="70px">
          <figcaption>
            <i class="share icon-export" ng-click="$ctrl.popUp()" aria-hidden="true"><span class="popup" ng-show="$ctrl.custom">{{ $ctrl.userdata.profile_view.site }}</span></i>
                <div class="profile-main_wrapper">
                  <h1 class="profile-main_name">{{ ::$ctrl.userdata.profile_view.name }}</h1>
                  <h2 class="profile-main_city">{{ ::$ctrl.userdata.profile_view.city }}</h2>
                </div>
                <i  ng-class="$ctrl.likeclass" ng-click="$ctrl.liking()" aria-hidden="true"></i>
          </figcaption>
        </figure>
        <ul>
          <li><h5>{{ $ctrl.userdata.profile_view.likes }}</h5><p>Likes</p></li>
          <li><h5>{{ $ctrl.userdata.profile_view.fallowing }}</h5><p>Fallowing</p></li>
          <li><h5>{{ $ctrl.userdata.profile_view.fallowers }}</h5><p>Fallowers</p></li>
        </ul>
        <button ng-click="$ctrl.following()">{{ $ctrl.follow }}</button>
    </section>
<section class="profile-comments">
  <p class="profile-comments_more">Hide comments (353)</p>
<ul>
  <li ng-repeat="comment in $ctrl.userdata.profile_view.comments | orderBy:'date'">
    <div class="profile-comments_wrapper">
    <img ng-src="{{ comment.img }}" alt="Harvey Specter - Mini" width="40px" height="40px">
    <article>
    <h5>{{ comment.name }}</h5><span class="date">{{ comment.date | datecustom }}d</span>
    <p>{{ comment.text }}</p>
    </article>
    </div>
  </li>
</ul>
<div class="profile-comments_new-wrapper">
<input class="profile-comments_new" type="text" placeholder="Add a comment" ng-model="$ctrl.text" ng-keydown="$event.keyCode === 13 && $ctrl.addComment()" ></input>
</div>
</section>
</div>
</div>
